<section id="intro" class="intro-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-6 intros text-start">
        <h1 class="display-2">
          <span class="display-2--intro">
            Hey! I'am Haja
          </span>
          <span class="display-2--description lh-base">
            Full-Stack Java/Angular developper
          </span>
        </h1>
        <button class="rounded-pill btn-rounded btn-intro">
          View my works
          <span class="btn-intro-circle">
            <i class="fas fa-arrow-right">
            </i>
          </span>
        </button>
        <!--        FIND ME ON-->
        <app-media></app-media>
      </div>
      <div class="col-md-6 col-sm-6 intros text-end">
          <div class="image-haja">
            <img src="../../../assets/img/folio2.png" alt="imageAlt" class="img-fluid img-settings">
          </div>
      </div>
    </div>
  </div>
</section>




