<div class="media-container">
  <h3 class="media-title">
    <span class="media-title--intro">
      Find me on
    </span>
  </h3>
  <div class="media-container--list">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item ">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </li>
      <li class="list-group-item ">
        <i class="fab fa-github fa-lg"></i>
      </li>
      <li class="list-group-item ">
        <i class="fab fa-facebook fa-lg"></i>
      </li>
    </ul>
  </div>
</div>

