<div class="skills-section--outer">
    <h5 class="skills-section--outer-title">
      My skills
    </h5>
    <div class="container">
      <div class="row skills-section--outer-contains">
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/html.png" alt="image_html" class="img-fluid img-settings-p">
          <h4><span>HTML</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/css.png" alt="image_css" class="img-fluid img-settings-p">
          <h4><span>CSS</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/angular.png" alt="image_angular" class="img-fluid img-settings-p">
          <h4><span>ANGULAR</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/java.png" alt="image_java" class="img-fluid img-settings-p">
          <h4><span>JAVA</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/nodeJS.png" alt="imageAlt" class="img-fluid img-settings-p">
          <h4><span>NODEJS</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/dotnet.png" alt="imageAlt" class="img-fluid img-settings-p">
          <h4><span>.NET</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/mysql.png" alt="imageAlt" class="img-fluid img-settings-p">
          <h4><span>MYSQL</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/mongodb.png" alt="imageAlt" class="img-fluid img-settings-p">
          <h4><span>MONGO DB</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 container-tech">
          <img src="../../../assets/img/git.png" alt="imageAlt" class="img-fluid img-settings-p">
          <h4><span>GIT</span></h4>
          <div class="progress progress-style">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
</div>

