@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins:wght@400;500;800;900&display=swap');
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Typo
$typo_base: 'Poppins', sans-serif;;
// Background color - Navbar
$font-family-base: "Yu Gothic";

$main_bgcol: #FFFF;
  // Background color - Presentation section
//background: #E0EEFF;

$bgc-skills-list: #F8F7F7;
$progress-bar-ng: #F5A849;



$sec_bgcol:#E0EEFF;
  // Typography color - Navbar
$typo1_col:#544D45;
  // Typography color - Title + Works description
$typo2_col:#1C1A17;
  // Typography color - Who am I contains + My work intro + Project used language
$typo3_col:#8C8173;
  // Title size:
$font-size: 38px;

  // Background color - Button on cellphone
$i-cell-cphone_bgcol: #E0EEFF;
$i-phone-number_col: #4996F5;

//$grid-breakpoints :(
//  sm:375px
//);

