<section id="presentation" class="pres-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-skills></app-skills>
      </div>
      <div class="col-md-6">
        <div class="who-amI">
          <h2 class="pres-title">
          <span class="pres-title--presentation">
            Who am I?
          </span>
          </h2>
          <h4 class="pres-contains">
          <span class="pres-contains--presentation">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores aspernatur cumque
            distinctio dolorem, est inventore ipsum labore laborum magnam minima natus nulla
            possimus quae quidem, soluta velit, vero? Qui?
          </span>
          </h4>
          <div class="pres-contains--btn">
            <button class="btn btn-outline-primary">
              DOWNLOAD CV
              <span class="btn-outline-primary--download">
             <i class="fas fa-arrow-circle-down"></i>
            </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
